In [ ]:
1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
Edad = 33
print (Edad)

33

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
#indica tipo de variable.. str, int, bool, float, complex
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(Edad)

int

4) Crear una variable que contenga tu nombre

In [16]:
Nombre= "Paula Perosio"

5) Crear una variable que contenga un número complejo

In [17]:
complejo= 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [18]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [19]:
#para redondear, le indico los decimales
numero_pi= 3.14161416
print(round(numero_pi,4))

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [27]:
va1=True
va2="True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [26]:
type(va1)

bool

In [25]:
type(va2)

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [29]:
sum = (4 + 4.5)
print(sum)

8.5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
cociente= 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [33]:
cociente_entero= 27//4
print(cociente_entero)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [34]:
resto= 27 % 4
print(resto)

3

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
nombre = "Paula "
apellido = "Perosio"
print(nombre + apellido)

Paula Perosio

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [40]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [41]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [5]:
#la coma no se una para numeros decimales
a = float('3,8')
print(a)

ValueError: could not convert string to float: '3,8'

In [6]:
#puedo cambiar la coma por punto
print(float(('3,8').replace(',','.')))

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [48]:
b = 3
b += 4
print (b)

7